<!DOCTYPE html>
<html lang="es-ES">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{/*
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css"
    integrity="sha384-mLBxp+1RMvmQmXOjBzRjqqr0dP9VHU2tb3FK6VB0fJN/AOu7/y+CAeYeWJZ4b3ii" crossorigin="anonymous"> */}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"
    integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous">
  {{- $css := resources.Get "css/main.css" -}}
  {{- $style := $css | resources.Minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{- $js := resources.Get "js/main.js" -}}
  
  {{- $javascript := $js | resources.Minify | fingerprint -}}
  <script src="{{ $javascript.Permalink }}"></script>
  {{ block "head" . }}
  {{ end }}
  <title>
    {{- block "title" . -}}
    {{ .Site.Title }} : {{ .Page.Title }}
    {{- end -}}
  </title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ .Site.Home.Permalink }}">
        <img src="{{ .Site.BaseURL }}images/logo.svg" height="30" alt="El Mirlos De La Balsa; el logo de la asociación."
          class="d-inline-block align-middle mr-2">
        {{/* <span class="text-uppercase font-weight-bold">{{ .Site.Title }}</span> */}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" onclick="displayMenu(event)">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-list">
        <ul class="navbar-nav ml-auto">
          {{ $p := .Page }}
          {{- range .Site.Menus.main -}}
          {{- if eq .Page $p -}}
          <li class="nav-item active">
            {{- else -}}
          <li class="nav-item">
            {{- end -}}
            <a href="{{ .Page.Permalink }}" class="nav-link">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>

  {{ block "main" . }}
  {{ end }}

  {{ partial "footer.html" . }}
</body>

</html>