<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 text-center">
          <span class="display-4">1</span>
          <h6>Año</h6>
        </div>
        <div class="col-lg-3 text-center">
          <span class="display-4">119</span>
          <h6>Socios</h6>
        </div>
        <div class="col-lg-3 text-center">
          <span class="display-4">7</span>
          <h6>Proyectos Completados</h6>
        </div>
        <div class="col-lg-3 text-center">
          <span class="display-4">100</span>
          <h6>Nuevas Ideas</h6>
        </div>
      </div>
    </div>
</section>