{{ define "main" }}
<div class="jumbotron jumbotron-fluid">
  <picture>
    {{/*  large image if we have plenty of pixel width  */}}
    <source media="(min-width:800px)" srcset="{{ .Site.BaseURL }}images/Claudio0.jpg">
    <img src="{{ .Site.BaseURL }}images/Claudio800.jpg"
      alt="Claudio holding a plant grown in the balsa de los mirlos."
      class="jumbotron__background">
  </picture>

  <div class="container text-center">
    <h1 class="display-4" style="font-weight:normal; filter: drop-shadow(-3px 3px 5px rgb(90,90,90));">
      Balsa de los Mirlos</h1>
    <p>Asociación de Huertos Sociales</p>
    <p class="lead">
      {{ $t := .Site.GetPage "/sersocio" }}
      <a class="btn btn-primary btn-lg px-5 rounded" href="{{ $t.Permalink }}" role="button">¡Quiero ser Socio!</a>
    </p>
    <hr class="my-4">
    <p>Nuestro Huerto Urbano para un ocio de calidad en Albacete captial.</p>
  </div>
</div>

{{ partial "numbers.html" . }}


  <div class="container">
    {{ .Content }}    
  </div>


{{ end }}
